{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block content %}

		<!-- SECTION -->
		<section class="welcome-section">
			<div class="container text-center">
				<h1>به بخش مدلسازی اطلاعات ساختمان خوش آمدید</h1>
				<p>اینجا جایی است که پروژه‌های ساختمانی و صنعتی شما با دقت و حرفه‌ای‌گری طراحی و بهینه‌سازی می‌شوند.
					ما با تکیه بر تجربه و دانش به‌روز، خدماتی از قبیل طراحی سازه‌های فولادی و بتن‌آرمه،
					تحلیل سازه‌ها و طراحی براساس استانداردهای داخلی و بین‌المللی را ارائه می‌دهیم.</p>
			</div>
		</section>
		<!-- /SECTION -->

		<!-- SECTION Design, Optimization & Consulting-->
		<div class="section">
				<div class="container">
					<div class="row" dir="rtl" align="center">
						<div class="col-md-4">
							<i class="icon-consult"></i>
							<h3>مشاوره تخصصی</h3>
							<p>همراهی شما در تمامی مراحل طراحی و اجرا.</p>
						</div>
						<div class="col-md-4">
							<i class="icon-analysis"></i>
							<h3>بهینه‌سازی سازه</h3>
							<p>تحلیل دقیق و اقتصادی برای پروژه‌های شما.</p>
						</div>
						<div class="col-md-4">
							<i class="icon-design"></i>
							<h3>طراحی سازه‌</h3>
							<p>طراحی بر اساس استانداردهای داخلی و بین‌المللی.</p>
						</div>
					</div>
				</div>
		</div>
		<!-- /SECTION -->

		<!-- SECTION Category Branches (Steel/ Concrete/ Industrial) -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Structure_Design -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src=" {% static './img/SteelStructure01.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Steel<br>Structures<br>Collection</h3>
								<a href="{% url 'Structure_Design:store' %}?category=سازه های فولادی" class="cta-btn">More... <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /Structure_Design -->

					<!-- Structure_Design -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src=" {% static './img/ConcreteStructure.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Concrete Structures<br>Collection</h3>
								<a href="{% url 'Structure_Design:store' %}?category=سازه های بتن آرمه" class="cta-btn">More... <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /Structure_Design -->

					<!-- Structure_Design -->
					<div class="col-md-4 col-xs-6">
						<div class="shop">
							<div class="shop-img">
								<img src=" {% static './img/SteelGableFrame.png' %}" alt="">
							</div>
							<div class="shop-body">
								<h3>Industrial Structures<br>Collection</h3>
								<a href="{% url 'Structure_Design:store' %}?category=سازه های صنعتی" class="cta-btn">More... <i class="fa fa-arrow-circle-right"></i></a>
							</div>
						</div>
					</div>
					<!-- /Structure_Design -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- SECTION Projects-->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">


					<!-- section title -->
					<div class="section-nav" id="projects" dir="rtl" style="text-align: justify;">
						<h3 class="title">پروژه ها</h3>
						<p style="line-height: 1.8; font-size: 18px;">
                            در این بخش به معرفی خدمات طراحی سازه‌های ساختمانی و صنعتی می‌پردازم.
							هدف من ارائه طراحی‌های بهینه و اقتصادی با رعایت اصول فنی و ایمنی است. سازه‌های فولادی و بتن‌آرمه
							را بر اساس آیین‌نامه‌های به‌روز داخلی و بین‌المللی طراحی می‌کنم تا نیازهای متنوع مشتریان را در پروژه‌های مختلف برآورده سازم.
							با تجربه‌ای گسترده در طراحی و تحلیل سازه‌ها، تلاش می‌کنم بهترین راهکارها را برای اجرای پروژه‌ها ارائه دهم.
							<ul class="custom-list">
								<li>خدمات ارائه‌شده شامل موارد زیر است:</li>
								<li>طراحی سازه‌های فولادی</li>
								<li>طراحی سازه‌های بتن‌آرمه</li>
								<li>تحلیل و بهینه‌سازی سازه‌ها</li>
								<li>طراحی بر اساس آیین‌نامه‌های داخلی (مانند مبحث نهم و آیین‌نامه 2800)</li>
								<li>طراحی بر اساس آیین‌نامه‌های بین‌المللی (مانند ACI و AISC)</li>
							</ul>
						</p>
					</div>
					<!-- /section title -->

					<!-- project tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="project-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="project-slick" data-nav="#slick-nav-1">
										{% for project in BIMProject %}
											<!-- project -->
											<div class="project">
												<div class="project-img">
													<img src="{{ project.image.url }}" alt=""> <!-- Access related image -->
												</div>
												<div class="project-body">
													<p class="project-category">{{ project.category }}</p>
													<h3 class="project-name">
														<a href="{{ project.get_absolute_url }}">{{ project.title }}</a>
													</h3>
												</div>
											</div>
											<!-- /project -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="project-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- project tab & slick -->



				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Cooperation in the Design of the Structure -->
		<section id="collaboration">
				<div id="hot-deal" class="section" style="background-color: #f4f4f4; padding: 20px 0;">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">همکاری در طرح</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
										در بخش همکاری در طراحی سازه، ما با ارائه خدمات مشاوره و همکاری نزدیک با تیم‌های مهندسی و معماری،
										به بهینه‌سازی طرح‌های سازه‌ای کمک می‌کنیم. هدف ما ایجاد سازه‌هایی ایمن، اقتصادی و پایدار است
										که مطابق با استانداردهای روز و نیازهای پروژه باشند. ما با بهره‌گیری از دانش فنی و تجربه‌ عملی،
										به تیم‌های پروژه کمک می‌کنیم تا راهکارهای مناسب و عملیاتی را برای مسائل سازه‌ای خود پیدا کنند.
										همکاری ما در تمامی مراحل طراحی و محاسبات سازه‌ای از ابتدا تا پایان پروژه ادامه دارد.
										در ادامه میتوانید نمونه هایی از همکاری در طراحی سازه ها با دیگر همکاران سازه را ملاحظه بفرمایید.
									</p>
								</div>
							</div>
						</div>
					</div>

					<div class="container">
						<!-- project Tab & Slick -->
						<div class="row">
							<div class="col-md-12">
								<div class="project-tabs">
									<!-- Tab -->
									<div id="tab2" class="tab-pane active">
										<div class="project-slick" data-nav="#slick-nav-3">
											{% for coworking in Coworking %}
												<!-- project -->
												<div class="project">
													<div class="project-img">
														<img src="{{ coworking.image.url }}" alt="{{ project.title }}">
													</div>
													<div class="project-body">
														<p class="project-category">{{ coworking.category }}</p>
														<h3 class="project-name">
															<a href="{{ coworking.get_absolute_url }}">{{ coworking.title }}</a>
														</h3>
													</div>
												</div>
												<!-- /project -->
											{% endfor %}
										</div>
										<div id="slick-nav-3" class="project-slick-nav"></div>
									</div>
									<!-- /Tab -->
								</div>
							</div>
						</div>
						<!-- /project Tab & Slick -->

					</div>

				</div>
		</section>
		<!-- /Cooperation in the Design of the Structure -->

		<!-- Mentoring -->
		<div class="container" id="mentoring" dir="rtl">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<h3 class="title text-right" style="margin-bottom: 20px;">منتورینگ در طراحی سازه</h3>
					<div class="section-nav" dir="rtl" style="text-align: justify;">
						<p style="line-height: 1.8; font-size: 18px;">
							در خدمات منتورینگ طراحی سازه، هدف ما توانمندسازی مهندسان و دانشجویان در یادگیری اصول طراحی و تحلیل سازه‌هاست.
							با ارائه راهنمایی‌های عملی و پاسخ به سؤالات تخصصی، شما را در مسیر حرفه‌ای‌تان همراهی می‌کنیم. این خدمات شامل آموزش
							نرم‌افزارهای تخصصی، بررسی پروژه‌ها، و بهبود مهارت‌های فنی شما می‌باشد. ما با تجربه‌ای گسترده، تلاش می‌کنیم تا شما را در رسیدن
							به اهداف حرفه‌ای‌تان یاری کنیم. برای دریافت مشاوره یا شرکت در جلسات آموزشی با ما تماس بگیرید.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Mentoring -->


		<!-- Contact Us Section -->
		<section class="welcome-section" id="contact">
			<div class="container text-center">
				<div class="container" dir="rtl">
					<div class="row justify-content-center">
						<div class="col-md-8">
							<!-- Section Title -->
							<h4 class="title text-right mb-4">تماس با من</h4>

							<!-- Contact Info -->
							<div class="contact-info" dir="rtl" style="text-align: justify; background-color: #f8f9fa; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
								<ul class="custom-list">
									<li><i class="fas fa-phone-alt"></i> تلفن تماس: <span dir="ltr">0912-000-00-00</span></li>
									<li><i class="fas fa-envelope"></i> ایمیل: <a href="mailto:structure@gmail.com">structure@gmail.com</a></li>
									<li><i class="fab fa-instagram"></i> اینستاگرام: <a href="https://www.instagram.com/agrgregregrg" target="_blank">agrgregregrg</a></li>
									<li><i class="fab fa-telegram-plane"></i> تلگرام: <a href="https://t.me/rewtwertwert" target="_blank">@rewtwertwert</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Contact Us Section -->


{% endblock content %}
