{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block content %}


		<!-- Current location address -->
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section" dir="rtl">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'Structure_Design:index' %}">خانه</a></li>
							<li><a class="active">  منتورینگ</a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

        <!-- SECTION -->
		<section>
				<div class="section" style="background-color: #f4f4f4; padding: 20px 0;">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">طراحی سازه‌های ساختمانی و صنعتی</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
                                       با سال‌ها تجربه در زمینه طراحی سازه‌های ساختمانی و صنعتی، آماده‌ام
                                      تا به شما در مراحل مختلف طراحی کمک کنم. این خدمات شامل مشاوره در انتخاب سیستم‌های سازه‌ای بهینه،
                                      طراحی اقتصادی و ایمن و ارائه راه‌حل‌های خلاقانه برای پروژه‌های خاص است. چه در زمینه ساختمان‌های مسکونی
                                      و چه در پروژه‌های صنعتی پیچیده، می‌توانم به شما در دستیابی به بهترین نتایج کمک کنم.
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
        </section>
        <!-- /SECTION -->

        <!-- SECTION -->
		<section>
				<div class="section">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">انواع سقف‌ها و روش‌های نوین طراحی</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
                                        یکی از حوزه‌های تخصصی من، طراحی انواع سقف‌ها مانند سقف‌های بتنی، فلزی، وافل و سقف‌های
                                      نوین مانند پس‌کشیده و تاپ-داون است. این روش‌ها که به بهینه‌سازی طراحی و صرفه‌جویی در هزینه
                                      و زمان کمک می‌کنند، می‌توانند در پروژه‌های شما به کار گرفته شوند. من می‌توانم شما
                                      را در انتخاب سیستم مناسب، طراحی اصولی و اجرای درست این سقف‌ها همراهی کنم.
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
        </section>
        <!-- /SECTION -->

        <!-- SECTION -->
		<section>
				<div class="section" style="background-color: #f4f4f4; padding: 20px 0;">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">نرم‌افزارهای ETABS و SAFE</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
برای مهندسان و طراحانی که می‌خواهند تسلط بیشتری بر نرم‌افزارهای طراحی سازه مانند ETABS و SAFE داشته باشند،
                                      می‌توانم به‌عنوان منتور در این زمینه راهنمایی‌های کاملی ارائه دهم. این شامل تحلیل
                                      و طراحی ساختمان‌ها، استفاده از تنظیمات پیشرفته و رفع مشکلات رایج در پروژه‌ها است.
                                      همچنین می‌توانم در تنظیم مدل‌های سازه‌ای و تفسیر نتایج تحلیل کمک کنم.
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
        </section>
        <!-- /SECTION -->

        <!-- SECTION -->
		<section>
				<div class="section">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">مشاوره در تایید پروژه‌های نظام مهندسی</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
                                      تایید پروژه‌های ساختمانی توسط سازمان نظام مهندسی
                                      استان تهران یکی از مراحل کلیدی هر پروژه است. با شناخت دقیق از قوانین و
                                      استانداردهای موجود، می‌توانم شما را در تدوین نقشه‌ها و مدارک موردنیاز،
                                      برطرف کردن ایرادات احتمالی و تسریع روند تایید پروژه یاری کنم.
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
        </section>
        <!-- /SECTION -->

        <!-- SECTION -->
		<section>
				<div class="section" style="background-color: #f4f4f4; padding: 20px 0;">
					<div class="container" dir="rtl">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h3 class="title text-right" style="margin-bottom: 20px;">همراهی حرفه‌ای در طراحی و اجرا</h3>
								<div class="section-nav" dir="rtl" style="text-align: justify;">
									<p style="line-height: 1.8; font-size: 18px;">
هدف من به‌عنوان یک منتور، انتقال دانش و تجربه برای
                                      ارتقای کیفیت طراحی و اجرای پروژه‌های ساختمانی و صنعتی است. اگر شما در هر مرحله‌ای
                                      از پروژه‌های خود به مشاوره نیاز دارید، می‌توانید روی دانش و تجربه من حساب کنید.
                                      منتورینگ من می‌تواند برای دانشجویان، طراحان و مهندسان حرفه‌ای مفید باشد.
									</p>
								</div>
							</div>
						</div>
					</div>
                </div>
        </section>
        <!-- /SECTION -->

{% endblock content %}