{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block content %}


		<!-- Current location address -->
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section" dir="rtl">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="{% url 'Structure_Design:index' %}">خانه</a></li>
							<li><a class="active">  همکاری در طراحی سازه ها</a></li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section" dir="rtl">
			<!-- container -->
			<div class="container">
				<!-- row -->
				{% for coworking in page_obj %}
					<div class="row">
						{% if forloop.counter|divisibleby:2 %}
							<!-- Even: Image Right, Description Left -->
							<div class="col-md-7">
								<h4>مشخصات</h4>
								<p style="line-height: 1.8; font-size: 18px;">
									{{ coworking.content|safe }}
								</p>
							</div>
							<div class="col-md-5">
								<h4>پروژه: {{ coworking.title }}</h4>
								<img src="{{ coworking.image.url }}" alt="{{ coworking.title }}" style="width: 60%; height: auto;">
							</div>
						{% else %}
							<!-- Odd: Image Left, Description Right -->
							<div class="col-md-5">
								<h4>پروژه: {{ coworking.title }}</h4>
								<img src="{{ coworking.image.url }}" alt="{{ coworking.title }}" style="width: 60%; height: auto;">
							</div>
							<div class="col-md-7">
								<h4>مشخصات</h4>
								<p style="line-height: 1.8; font-size: 18px;">
									{{ coworking.content|safe }}
								</p>
							</div>
						{% endif %}
					</div>
					<hr>
				{% endfor %}
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		<!-- Pagination Controls -->
		<nav aria-label="Page navigation">
			<div class="pagination-wrapper">
				<ul class="pagination justify-content-center">
					{% if page_obj.has_previous %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
						</li>
					{% endif %}

					{% for num in page_obj.paginator.page_range %}
						<li class="page-item {% if page_obj.number == num %}active{% endif %}">
							<a class="page-link" href="?page={{ num }}">{{ num }}</a>
						</li>
					{% endfor %}

					{% if page_obj.has_next %}
						<li class="page-item">
							<a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<!-- /Pagination Controls -->

		<hr>
		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center" dir="rtl">
							<h3 class="title"> دیگر همکاری ها  </h3>
						</div>
					</div>

					<!-- project tab & slick -->
					<div class="col-md-12">
						<div class="row">
							<div class="project-tabs">
								<!-- tab -->
								<div id="tab1" class="tab-pane active">
									<div class="project-slick" data-nav="#slick-nav-1">
										{% for coworking in STRCoworking %}
											<!-- project -->
											<div class="project">
												<div class="project-img">
													<img src=" {{coworking.image.url}}" alt="">
												</div>
												<div class="project-body">
													<p class="project-category">{{ coworking.category }}</p>
													<h3 class="project-name"><a href="{{ coworking.get_absolute_url }}">{{ coworking.title }}</a></h3>
												</div>
											</div>
											<!-- /project -->
										{% endfor %}
									</div>
									<div id="slick-nav-1" class="project-slick-nav"></div>
								</div>
								<!-- /tab -->
							</div>
						</div>
					</div>
					<!-- project tab & slick -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->


{% endblock content %}