{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}

{% block styles %}
<style>
    th, td, a.shopping {
        padding: 5px;
        text-align: center;
    }
    .table-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    table {
        border-collapse: collapse;
        width: 80%; /* Adjust width as desired */
    }
    .add-to-cart .qty-label .input-number{
        width: 90px;
        display: inline-block;
    }
    .add-to-cart .qty-label{
        display: inline-block;
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        margin-right: 0px;
        margin-bottom: 0px;
    }
    .containerFinalbuttons {
    display: flex;            /* Use flexbox for alignment */
    justify-content: center;   /* Center contents horizontally */
    align-items: center;       /* Center contents vertically */
    gap: 20px;                 /* Space between buttons */
    margin-top: 20px;          /* Optional: add space from top */
    }
</style>
{% endblock styles %}

{% block content %}
 <h1 style="text-align: center;">Cart Detail</h1>

    {% if cart.cart_length == 0 %}
        <h3 style="text-align: center;">Your cart is empty</h3>
        <a href="{% url 'homePage:store' %}" class="containerFinalbuttons">Continue Shopping</a>
    {% else %}
        <div class="table-container">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Product Title</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Price</th>
                    <th>Remove</th>
                </tr>
                {% for item in cart %}
                <tr>
                    <td><img src="{{ item.product.image.url }}" alt="{{ item.product }}" width="150"/></td>
                    <td><a href="{{ item.product.get_absolute_url }}">{{ item.product.title }}</a></td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total_price }}</td>
                    <td><a href="{% url 'homePage:remove_from_cart' item.product.id %}">Remove</a></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="3"></td>
                    <td>Total Price</td>
                    <td>{{ cart.all_total_price }}</td>
                </tr>
            </table>
        </div>

        <div class="containerFinalbuttons">
            <a href="{% url 'homePage:checkout' %}" class="primary-btn order-submit">Checkout</a>
            <a href="{% url 'homePage:store' %}" class="shopping">Continue Shopping</a>
        </div>

    {% endif %}

{% endblock content %}
