{% extends "base.html" %}
{% load static %}
{% block title %}project{% endblock title %}
{% block content %}

		<!-- Current location address -->
		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section" dir="rtl">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="#">خانه</a></li>
							<li><a href="#">  دسته بندی ها</a></li>
							<li><a href="#">  {{ Coworking.category }}</a></li>
							<li class="active">   {{ Coworking.title }}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!--SECTION-->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<!-- Project Main Image -->
					<div class="col-md-5 col-md-push-2">
						<div id="project-main-img">
							<!-- Main Project Image -->
							{% if Coworking.image %}
							<div class="project-images">
								<img src="{{ Coworking.image.url }}" alt="{{ Coworking.title }}">
							</div>
							{% endif %}

							<!-- Additional Images -->
							{% for image in Coworking.images.all %}
							<div class="project-images">
								<img src="{{ image.image.url }}" alt="{{ Coworking.title }}">
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Project Main Image -->

					<!-- Project Thumbnail Images -->
					<div class="col-md-2 col-md-pull-5">
						<div id="project-imgs">
							<!-- Main Project Image as First Thumbnail -->
							{% if Coworking.image %}
							<div class="project-preview">
								<img src="{{ Coworking.image.url }}" alt="{{ Coworking.title }}">
							</div>
							{% endif %}

							<!-- Additional Thumbnails -->
							{% for image in Coworking.images.all %}
							<div class="project-preview">
								<img src="{{ image.image.url }}" alt="{{ Coworking.title }}">
							</div>
							{% endfor %}
						</div>
					</div>
					<!-- /Project Thumbnail Images -->

					<!-- project details -->
					<div class="col-md-5" dir="rtl">
						<div class="project-details">
							<h2 class="project-name">{{ Coworking.title }}</h2>

							<p>{{ Coworking.content|safe }}</p>

							<ul class="project-links" align="center">
								<li></li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul>

						</div>
					</div>
					<!-- /project details -->

					<!-- project tab -->
					<div class="col-md-12">
						<div id="project-tab">
							<!-- project tab nav -->
							<ul class="tab-nav">
								<li><a data-toggle="tab" href="#tab3">دیدگاه همکاران</a></li>
								<li><a data-toggle="tab" href="#tab2">جزییات</a></li>
								<li class="active"><a data-toggle="tab" href="#tab1">توضیحات</a></li>
							</ul>
							<!-- /project tab nav -->

							<!-- project tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12" dir="rtl">
											<p>{{ Coworking.illustration }}</p>
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12" dir="rtl">
											<p>{{ Coworking.characteristic }}</p>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12" dir="rtl">
											<p>{{ Coworking.coworker_opinion }}</p>
										</div>
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /project tab content  -->
						</div>
					</div>
					<!-- /project tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!--/SECTION-->

		<!--Section-->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">

					<div class="col-md-12">
						<div class="section-title text-center" dir="rtl">
							<h3 class="title">همکاری های مشابه</h3>
						</div>
					</div>


					<!-- project -->
					{% for related_coworking in related_coworkings %}
					<!-- Individual Related Project -->
					<div class="col-md-3 col-xs-6">
						<div class="project">
							<div class="project-img">
								<img src="{{ related_coworking.image.url }}" alt="">
							</div>
							<div class="project-body">
								<p class="project-category">{{ related_coworking.category }}</p>
								<h3 class="project-name">
									<a href="{{ related_coworking.get_absolute_url }}">{{ related_coworking.title }}</a>
								</h3>
							</div>
						</div>
					</div>
					{% endfor %}
					<!-- /project -->

				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!--/Section-->

{% endblock content %}