{% extends "base.html" %}
{% load static %}
{% block title %}Index{% endblock title %}
{% block content %}

    <!-- Contact Us Section -->
    <section class="welcome-section" id="contact">
        <div class="container text-center">
            <div class="container" dir="rtl">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <!-- Section Title -->
                        <h4 class="title text-right mb-4">تماس با من</h4>

                        <!-- Contact Info -->
                        <div class="contact-info" dir="rtl" style="text-align: justify; background-color: #f8f9fa; padding: 20px; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
                            <ul class="custom-list">
                                <li><i class="fas fa-phone-alt"></i> تلفن تماس: <span dir="ltr">0912-000-00-00</span></li>
                                <li><i class="fas fa-envelope"></i> ایمیل: <a href="mailto:structure@gmail.com">structure@gmail.com</a></li>
                                <li><i class="fab fa-instagram"></i> اینستاگرام: <a href="https://www.instagram.com/agrgregregrg" target="_blank">agrgregregrg</a></li>
                                <li><i class="fab fa-telegram-plane"></i> تلگرام: <a href="https://t.me/rewtwertwert" target="_blank">@rewtwertwert</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /Contact Us Section -->

{% endblock content %}